{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <h2>Task List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Task Tittle</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.due_date }}</td>
            <td><a href="{% url 'task_detail' pk=task.pk %}" class="btn btn-primary">View Details</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
